body{
    margin:0;
    overflow:hidden;
    font-family:'Segoe UI',sans-serif;
    background:#111;
    color:white;
    text-align:center;
}

.screen{
    position:absolute;
    width:100%;
    top:30%;
}

h1{
    font-size:70px;
    background:linear-gradient(45deg,gold,orange);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

button{
    padding:15px 50px;
    margin:20px;
    font-size:20px;
    border:none;
    border-radius:15px;
    background:linear-gradient(45deg,#ff512f,#dd2476);
    color:white;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    transform:scale(1.1);
}

canvas{
    display:none;
}
.hidden{
    display:none;
}