body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#111;
    color:white;
    text-align:center;
}

.screen{
    margin-top:150px;
}

h1{
    font-size:70px;
    background:linear-gradient(45deg,orange,gold);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

button{
    padding:15px 50px;
    margin:20px;
    font-size:20px;
    border:none;
    border-radius:15px;
    background:#222;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:gold;
    color:black;
    transform:scale(1.1);
}

canvas{
    display:none;
}

.hidden{
    display:none;
}