/* ====== ALGEMENE PAGINA ====== */
body{
    margin:0;
    overflow:hidden;
    font-family:Segoe UI, sans-serif;
    background:#b3e0ff;
    text-align:center;
}

/* ====== CANVAS (ONDER ALLES) ====== */
canvas{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    z-index:1; /* canvas onder menu's */
}

/* ====== MENU / SHOP / GAME OVER SCHERMEN ====== */
.screen{
    position:absolute;
    width:100%;
    top:25%;
    z-index:10; /* boven canvas */
}

/* ====== TITELS ====== */
h1{
    font-size:70px;
    color:#003049;
}

/* ====== KNOPPEN ====== */
button{
    padding:15px 50px;
    margin:15px;
    font-size:20px;
    border:none;
    border-radius:12px;
    background:#0077b6;
    color:white;
    cursor:pointer;
    transition:.2s;
    z-index:20;
}

button:hover{
    transform:scale(1.1);
}

/* ====== VERBERGEN ====== */
.hidden{
    display:none;
}

/* ====== SHOP LAYOUT ====== */
.shopGrid{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

.skinBox{
    text-align:center;
}

#shopMessage{
    margin-top:10px;
    font-size:18px;
    color:#003049;
}

/* ====== TUTORIAL OVERLAY ====== */
#tutorialOverlay{
    position:absolute;
    top:40%;
    width:100%;
    text-align:center;
    font-size:40px;
    font-weight:bold;
    color:black;
    z-index:15;
}
#lockerButton {
    position: absolute;
    top: 180px;
    right: 20px;
    padding: 10px 20px;
    font-size: 18px;
}

#locker {
    position: absolute;
    top: 230px;
    right: 20px;
    width: 260px;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
}

#locker.hidden {
    display: none;
}

#lockerList div {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    background: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

#lockerList div.selected {
    background: #d4ffd4;
    border-color: #00aa00;
}

#lockerList canvas {
    background: transparent;
}
